name: Process Proxy IPs

on:
  push:
    paths:
      - proxy_ip_port.txt   # Trigger action saat ada perubahan pada file ini
  workflow_dispatch:         # Manual trigger untuk menjalankan proses

jobs:
  process_proxy:
    runs-on: ubuntu-latest  # Menjalankan di runner Ubuntu terbaru

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3  # Checkout repositori ke runner

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'  # Menentukan versi Python

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests  # Instalasi modul requests
          pip install pandas   # Instalasi modul pandas

      - name: Run Proxy Processing Script
        run: |
          python process_proxy.py  # Menjalankan skrip Python yang memproses data

      - name: Commit and push changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add proxy_ip_port_with_id_isp.txt  # Menambahkan hasil file yang telah diproses
          git commit -m "Add processed proxy file with ID and ISP"
          git push
