name: Process Proxy IPs

on:
  push:
    paths:
      - proxy_ip_port.txt   # Trigger action saat ada perubahan pada file ini
  workflow_dispatch:         # Manual trigger untuk menjalankan proses

jobs:
  process_proxy:
    runs-on: ubuntu-latest  # Menjalankan di runner Ubuntu terbaru

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3  # Checkout repositori ke runner

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'  # Menentukan versi Python

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests  # Install pandas dan requests

      - name: Run Proxy Processing Script
        run: |
          python process_proxy.py  # Menjalankan skrip Python yang memproses data

      - name: Commit and push changes
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git add proxy_ip_port_with_id_isp.txt  # Menambahkan file hasil proses ke stage
          git commit -m "Update proxy list with ID and ISP"  # Commit perubahan
          git push  # Push perubahan ke repositori
          
      - name: Upload Processed File
        uses: actions/upload-artifact@v3  # Menggunakan versi terbaru dari actions/upload-artifact
        with:
          name: proxy_ip_port_with_id_isp.txt  # Menyimpan hasil file yang telah diproses
          path: proxy_ip_port_with_id_isp.txt
